extends layout

block content
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='#') ClinicQueues
          span.sg SG
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        .nav.navbar-nav.navbar-right
          p
            | At a clinic?
            a(href='#')  Submit a queue report
