extends layout

block content
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/') ClinicQueues
          span.sg SG
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        .nav.navbar-nav.navbar-right
          p
            | Login
  .container.form-container
    .row.justify-content-center.well.well-lg
        form.form-horizontal
          fieldset
            legend.legend-container Submit a clinic queue report by logging in. Not registered yet?
              a(href='/signup')  Sign up here
            .form-group
              label.col-lg-3.control-label(for='inputEmail') Email
              .col-lg-6
                input#inputEmail-login.form-control(type='text', placeholder='Email', name='email')
              .col-lg-3
            .form-group
              label.col-lg-3.control-label(for='inputPassword') Password
              .col-lg-6
                input#inputPassword-login.form-control(type='password', placeholder='Password', name='password')
              .col-lg-3
            .form-group
              .col-lg-6.col-lg-offset-3
                button.btn.btn-default.btn-form(type='reset') Cancel
                button.btn.btn-primary.btn-form(type='submit') Submit
