extends layout

block content
  nav.navbar.navbar-default.navbar-static-top
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/') ClinicQueues
          span.sg SG
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        .nav.navbar-nav.navbar-right
          p
            | Queue report
  #map-container.container-fluid
    .row
      #map.col-md-8
      .col-md-4.queue-report
        .container-fluid.form-container
          .row.well.well-lg
            form#submit-photo.form-horizontal(enctype='multipart/form-data')
              fieldset
                legend.legend-container Submit a clinic queue report!
                label.control-label(for='inputPassword') Clinic name
                form.form-group
                  .typeahead__container
                    .typeahead__field
                      span.typeahead__query
                        input#query-clinic.js-typeahead(name='q', autocomplete='off')
                      span.typeahead__button
                        button#query-button(type='button')
                          span.typeahead__search-icon
                  .form-group.form-group-photo
                    label.control-label(for='inputPhoto') Upload a clear photo of the clinic queue
                    .input-group
                      label.input-group-btn
                        span.btn.btn-primary
                          | Browse… 
                          input#photo-input(type='file', style='display:none', multiple='')
                      input.form-control.file-display(type='text', readonly='')
                  .form-group
                    .col-lg-12
                      button.btn.btn-default.btn-form(type='reset') Cancel
                      button.btn.btn-info.btn-form(type='submit') Submit
          
        
