<div class="panel panel-primary">
<div class="panel-heading">
<h2 class="panel-title">{{clinicname}}</h2>
</div>
<div class="panel-body">
<p>No. of patients waiting</p>
<h1>{{queue}}</h1>
<p>Est. waiting time</p>
<h3>{{waittime}}</h3>
</div>
</div>
