html, body {
  padding: 0px;
  height: 100%;
  width: 100%;
}

#map-container, #map-container .row{
  height: 100%
}

#map {
  height: 100%;
  overflow: auto;
}

.navbar {
  margin-bottom: 0;
}

.navbar-brand {
  font-size: 40px;
  padding: 10px 20px;
  line-height: 1.2em;
  height: 100%;
}

#bs-example-navbar-collapse-1 {
  height:68px;
}

.navbar-right {
  font-size: 20px;
  padding: 10px 20px;
  line-height: 1em;
  height: 100%;
  margin-top: 18px;

}

.sg {
  color: #d13131;
}

a {
  color: #00B7FF;
}
